.view-content {
    display: grid;
    grid-template-areas: 
        "title"
        "content"
    ;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;

    justify-content: stretch;
}

.view-content-title {
    grid-area: title;
    text-align: center;
}

.view-content-content {
    grid-area: content;
}