.view-event {
    display: grid;
    grid-template-areas: 
        "x1 ti ti ti x4"
        "x1 x2 po x3 x4"
        "x1 x2 de x3 x4"
    ;
    grid-template-columns: 3fr 1fr 800px 1fr 3fr;
    grid-template-rows: auto auto 1fr;

    row-gap: 4px;

    margin: 0 auto;
}

.view-event-title {
    grid-area: ti;
    text-align: center;
}

.view-event-postcard {
    grid-area: po;
}

.view-event-description {
    grid-area: de;
}
