.view-landing {
    display: grid;
    grid-template-areas: 
        "titles"
        "actions"
    ;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;

    justify-content: stretch;
    text-align: center;

    gap: 32px;
}

.view-landing-titles {
    grid-area: titles;
    text-shadow: 2px 2px 4px var(--background);
}

.view-landing-titles-title {
    font-size: 10rem;
}

.view-landing-titles-subtitle {
    font-size: 2.5rem;
}

@media (max-width: 800px) or (max-height: 600px) {
    .view-landing-titles-title {
        font-size: 5rem;
    }

    .view-landing-titles-subtitle {
        font-size: 1.5rem;
    }
}

.view-landing-actions {
    grid-area: actions;
    align-self: start;
    justify-self: center;

    max-width: 800px;
    width: 100%;
}