.postcard {
    width: 100vw;
    height: 100vh;

    object-fit: cover;
    object-position: 50% 50%;

    position: fixed;
    top: 0;
    left: 0;

    user-select: none;
    pointer-events: none;
}

.postcardBackground {
    filter: blur(7px) contrast(50%) brightness(50%);
}

@media (prefers-color-scheme: light) {
    .postcardBackground {
        filter: blur(7px) contrast(25%) brightness(175%);
    }
}

.postcardForeground {
    filter: none;
}

.postcardPrevious.postcardBackground {
    z-index: -2;
}

.postcardCurrent.postcardBackground {
    z-index: -1;
}

.postcardPrevious.postcardForeground {
    z-index: 1;
}

.postcardCurrent.postcardForeground {
    z-index: 2;
}

.postcardAppearing {
    opacity: 0;
    animation: appear 1s linear infinite;
}

.postcardAppeared {
    opacity: 1;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}