.form-fromto {
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 4px;
}

.form-fromto-icon {
    margin-right: 4px;
}

.form-fromto-connector {
    margin-right: 2px;
}

.form-fromto-start,
.form-fromto-end {
    flex-grow: 1;
}

.form-fromto-icon,
.form-fromto-connector {
    flex-grow: 0;
}

.form-fromto-preview .form-fromto-start,
.form-fromto-preview .form-fromto-end {
    flex-grow: 0;
}