.form-monorow {
    max-width: 600px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
    align-items: stretch;
}

.form-monorow > input {
    flex-grow: 1;
}

.form-monorow > button, .form-monorow > input[type="submit"] {
    flex-grow: 0;
    width: 40px;
    height: 40px;
}
