.postcard {
    width: 100vw;
    height: 100vh;

    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;

    position: fixed;
    top: 0;
    left: 0;

    user-select: none;
    pointer-events: none;
}

.postcard-background {
    z-index: -1;
    filter: blur(7px) contrast(50%) brightness(50%);
}

@media (prefers-color-scheme: light) {
    .postcard-background {
        filter: blur(7px) contrast(25%) brightness(175%);
    }
}

.postcard-foreground {
    z-index: 1;
    filter: none;
}