.toolbar {
    display: flex;

    justify-content: flex-start;
    align-content: flex-start;

    position: absolute;

    z-index: 2;

    gap: 2px;
}

.toolbar-top {
    top: 8px;
    flex-direction: column;
}

.toolbar-bottom {
    bottom: 8px;
    flex-direction: column-reverse;
}

.toolbar-left {
    left: 8px;
}

.toolbar-right {
    right: 8px;
}

.toolbar-vadapt {
    top: 8px;
    flex-direction: column;
}

@media (max-width: 800px) {
    .toolbar-vadapt {
        top: unset;
        bottom: 8px;

        flex-direction: column-reverse;
    }
}

.toolbar-tool {
    width: 50px !important;
    height: 50px !important;
    font-size: large;
}

@media (pointer: fine) {
    .toolbar-tool {
        width: 40px !important;
        height: 40px !important;
        font-size: medium;
    }
}