/* Light theme / unsupported */
    body {
        --background: #fafafa;
        --foreground: black;
        --border: gray;
        --interactable: #fafafab5;
        --selection: #7777ff;
        
        --anchor: #4444ff;
        --anchor-visited: #aa44ff;
        --anchor-active: #ff4444;

        --positive: #008800;
        --negative: #880000;
    }

    .postcard {
        filter: blur(7px) contrast(25%) brightness(175%);
    }

/* Dark theme */
@media (prefers-color-scheme: dark) {
    body {
        --background: #050505;
        --foreground: white;
        --border: gray;
        --interactable: #050505b5;
        --selection: #3333dd;

        --anchor: #8888ff;
        --anchor-visited: #aa88ff;
        --anchor-active: #ff8888;
        
        --positive: #88ff88;
        --negative: #ff8888;
    }

    .postcard {
        filter: blur(7px) contrast(50%) brightness(50%);
    }
}
