@import "color-schemes.css";
@import "elements.css";
@import "mood.css";
/* Ughhh, there's no way to have readable CSS by using modules and Next? */
@import "components/views/content.css";
@import "components/views/landing.css";
@import "components/views/notice.css";

@import "components/icon.css";
@import "components/list-events.css";
@import "components/postcard.css";
@import "components/square.css";
@import "components/telegram-login.css";
@import "components/toolbar.css";


* {
    box-sizing: border-box;
}

*::selection {
    background-color: var(--selection);
    color: var(--foreground);
    text-shadow: none;
}

*[disabled] {
    opacity: 0.2;
    cursor: not-allowed;
}

.page {
    min-height: 100vh;
    padding: 12px;
}


.form-monorow {
    max-width: 600px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.form-monorow input {
    flex-grow: 1;
}

.form-monorow input[type="submit"] {
    flex-grow: 0;
}

.error-block pre {
    display: inline-block;
    margin: 0;

    text-align: left;
}
