@import "color-schemes.css";
@import "page-tweaks.css";

* {
    box-sizing: border-box;
}

*::selection {
    background-color: var(--selection);
    color: var(--foreground);
    text-shadow: none;
}

body {
    padding: 0;
    margin: 0;

    background-color: var(--background);

    color: var(--foreground);
    font-family: sans-serif;
    text-shadow: 1px 1px 1px var(--background);

    min-height: 100vh;
}

hgroup > * {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 2px 2px 2px var(--background);
}

a {
    color: var(--anchor);
}

a:visited {
    color: var(--anchor-visited);
}

a:active {
    color: var(--anchor-active);
}

.positive {
    color: var(--positive);
}

.negative {
    color: var(--negative);
}

input, button {
    padding: 8px;
    margin: 2px 4px;

    color: var(--foreground);
    background-color: var(--interactable);

    border-width: 2px;
    border-color: var(--border);
    border-radius: 16px;

    font-size: medium;
    height: 40px;

    vertical-align: middle;
}

input[type="text"] {
    border-style: inset;
}

input[type="submit"], button {
    border-style: outset;
}

input[type="submit"]:active, button:active {
    border-style: inset;
}

.square-40 {
    width: 40px;
    height: 40px;
}

input.positive, button.positive {
    border-color: var(--positive);
}

input.negative, button.negative {
    border-color: var(--negative);
}

.page {
    min-height: 100vh;
}

.container-btn-telegram > div {
    height: 40px;
}

.postcard {
    width: 100vw;
    height: 100vh;
    object-fit: cover;

    position: absolute;
    z-index: -1;

    user-select: none;
    pointer-events: none;
}
