nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 4px;
}

nav h1 {
    font-size: 32px;
    margin: 0;
}

.nav-left, .nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-telegram-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
