#page-index {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2fr 3fr;

    justify-content: center;
    text-align: center;
}

#page-index .hero-titles {
    align-self: center;
    grid-row: 1;
}

.hero-titles h1 {
    font-size: 10rem;
}

.hero-titles h2 {
    font-size: 2.5rem;
}

@media (max-width: 640px) or (max-height: 640px) {
    .hero-titles h1 {
        font-size: 5rem;
    }

    .hero-titles h2 {
        font-size: 1.5rem;
    }
}

#page-index .hero-action {
    align-self: start;
    grid-row: 2;
}
