#page-index {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;

    justify-content: stretch;
    text-align: center;

    gap: 32px;
}

#page-index .hero-titles {
    align-self: center;
    grid-row: 1;
}

#page-index .hero-titles h1 {
    font-size: 10rem;
}

#page-index .hero-titles h2 {
    font-size: 2.5rem;
}

@media (max-width: 640px) or (max-height: 640px) {
    #page-index .hero-titles h1 {
        font-size: 5rem;
    }

    #page-index .hero-titles h2 {
        font-size: 1.5rem;
    }
}

#page-index .hero-action {
    align-self: start;
    justify-self: center;

    grid-row: 2;

    max-width: 800px;
    width: 100%;
}
